<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Github History</title>
    <link rel="stylesheet" href="/static/style.css">
    <script type = "text/javascript" src = "https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/static/script.js"></script>
</head>
<body>
    <div class="pageHed">Github Actions History [action-repo]</div>
    <div id="dataBox" class="contentSection">
        <div class="msgBox">
            <label>Loading..</label>
        </div>
    </div>
    <div id="toast">Refreshed</div>
</body>
</html>